# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/backend/build
/frontend/node_modules
/frontend/build
/datalake/node_modules
/datalake/reds-dump
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/build

# Processor
/data-processor/node_modules
/data-processor/dump.sql

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#IntelliJ
.idea
*.iml

#VSCode
.vscode